.navbar_links {
    display: hidden;
    float: right;
}

.navbar_links1 {
    opacity: 1;
    float: right;
    margin-top: 5px;
}

.scroll {
    top: 0px;
}

.rit {
    display: contents;
}

.navbar_links ul {
    float: right;
    width: 100%;
    margin: 48px 0 0 0;
}

.navbar_links li {
    list-style: none;
    float: left;
    margin: 0px 20px;
}

.navbar_links li a.i {
    list-style: none;
    text-decoration: none;
    transition: 1s;
    padding: 10px 20px;
    border-radius: 9px;
    text-transform: uppercase;
    background-color: rgb(22, 7, 56);
}

.navbar_links li a.i:hover {
    transition: 1s;
    background-color: rgb(33, 3, 104);
    padding: 30px 30px;
}

.i {
    color: rgb(139, 139, 139);
}

.i:hover {
    color: rgb(241, 32, 189);
}